<li class="message">
  <span class="user-name"><%= message.user.name %></span>
  <span class="timestamp"><%= time_ago_in_words(message.created_at) %></span>
  <% if current_user?(message.user) %>
    <span class="delete"><%= link_to image_tag("bin.png", size: "12"), message, method: :delete %></span>
    <span class="edit"><%= link_to image_tag("pencil.png", size: "12"), '#' %></span>
  <% end %>
  <span class="content"><%= message.content %></span>
</li>