<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <div class="image">
          <%= avatar_for @user%>
          <% status = @user.online? ? "online" : "offline" %>
          <div class="<%= status %>-large"></div>
        </div>
        <%= @user.name %>
      </h1>
      <span class="message-count">
        <% if @user.messages.any? %>
          <%= link_to pluralize(@user.messages.count, "message"),
                      messages_user_path(@user)%>
        <% else %>
          no messages
        <% end %>
      </span>
    </section>
  </aside>
  <div class="span8">
    <strong id="create-chat" class="create-btn">
      <%= button_to "Create chat", chats_path, class: "btn btn-primary" %>
    </strong>
    <% if @user.chats.any? %>
      <h3>Chats (<%= @chats.count %>)</h3>
      <ol class="chats">
        <%= render @chats %>
      </ol>
    <% end %>
  </div>
</div>
